[WebService]
LoginTitle = Foreman Cockpit
UrlRoot = /webcon/
Origins = http://localhost:3000

[Bearer]
Action = remote-login-ssh

[SSH-Login]
command = /usr/sbin/foreman-cockpit-session

[OAuth]
Url = /cockpit/redirect
