[Unit]
Description=Foreman authentication service for Cockpit
Documentation=https://theforeman.org
After=network.target remote-fs.target nss-lookup.target

[Service]
Environment=XDG_CONFIG_DIRS=/etc/foreman/
Environment=FOREMAN_COCKPIT_SETTINGS=/etc/foreman/cockpit/foreman-cockpit-session.yml
Environment=FOREMAN_COCKPIT_ADDRESS=127.0.0.1
Environment=FOREMAN_COCKPIT_PORT=19090
ExecStart=/usr/libexec/cockpit-ws --no-tls --address $FOREMAN_COCKPIT_ADDRESS --port $FOREMAN_COCKPIT_PORT
User=foreman
Group=foreman

[Install]
WantedBy=multi-user.target
