[Unit]
Description=Foreman Cockpit
Documentation=https://theforeman.org
After=network.target remote-fs.target nss-lookup.target

[Service]
Environment=XDG_CONFIG_DIRS=/etc/foreman/
Environment=FOREMAN_COCKPIT_SETTINGS=/etc/foreman/cockpit/foreman-cockpit-session.yml
Environment=ADDRESS=127.0.0.1
Environment=PORT=9999
ExecStart=/usr/libexec/cockpit-ws --no-tls --address $ADDRESS --port $PORT
User=foreman
Group=foreman

[Install]
WantedBy=multi-user.target
