.job-wizard {
  .pf-c-wizard__main {
    z-index: calc(
      var(--pf-c-wizard__footer--ZIndex) + 1
    ); // So the select box can be shown above the wizard footer
  }

  .pf-c-wizard__main-body {
    max-width: 500px;
    .advanced-fields-title {
      margin-bottom: 10px;
    }
    #advanced-fields-job-template {
      .foreman-search-field {
        // Giving pf3 search bar a pf4 look
        .search-bar {
          display: block;
        }
        .input-group-btn {
          display: none;
        }
        li {
          font-size: 16px;
        }
        input {
          font-size: 16px;
          height: 36px;
        }
        .foreman-autocomplete .autocomplete-focus-shortcut {
          top: 8px;
          font-size: 16px;
        }
        .foreman-autocomplete .autocomplete-aux {
          top: 8px;
          font-size: 16px;
          .autocomplete-clear-button {
            font-size: 16px;
          }
        }
      }
    }
  }
}
