<div class='form-group'>
  <label class='col-md-2 control-label'>
    <%= _('Remote Execution Interface') %>
    <% help = _('Identifier of the Host interface for Remote execution') %>
    <a rel="popover" data-content="<%= help %>" data-trigger="focus" data-container="body" data-html="true" tabindex="-1">
      <span class="pficon pficon-info "></span>
    </a>
  </label>
  <div class='col-md-4'>
    <%= text_field_tag 'remote_execution_interface', params[:remote_execution_interface], class: 'form-control' %>
  </div>
</div>
