<div id="job-invocation-chart">
  <div class="card-pf card-pf-accented card-pf-aggregate-status">
    <h2 style="height: 18px;" class="card-pf-title">
      <a href="#"><%= _('Results') %></a>
    </h2>
    <div class="card-pf-body">
      <div id='status_chart'>
        <%= react_component('JobInvocationContainer', data: { url: "/job_invocations/chart?id=#{job_invocation.id}" }) %>
      </div>
    </div>
  </div>
</div>
