<%= textarea_f(f, :description, :label => _('Description'), :readonly => 'true', :id => 'description', :rows => 2, :help_inline => description_checkbox_f(f, job_template)) %>
<div id="description_format_container" class="<%= 'hidden' if f.object.description_format.nil? %>">
  <%= description_format_textarea_f(f, job_template) %>
</div>
