<% javascript 'template_invocation' %>
<% stylesheet 'template_invocation' %>

<div class="row form-group">
  <h1 class="col-md-8"><%= _('New Job Invocation') %></h1>
</div>

<%= render :partial => 'form' %>
