fieldset.provider_form {
  margin-bottom: 10px;

  legend {
    margin-bottom: 0px;
    font-size: 14px;
    font-weight: bold;
    margin-left: 80px;
    width: 80%
  }

  label.radio-inline {
    display: block;
    margin-left: 90px;
  }
}

div.terminal {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 12px;
  word-break: break-all;
  word-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(47, 47, 47, 1);
  border: 1px solid #000000;
  border-radius: 0px;
  font-family: Menlo, Monaco, Consolas, monospace;

  div.printable {
    min-height: 50px;
  }

  div.line.stderr, div.line.error, div.line.debug {
    color: red;
  }

  div.line span.counter {
    float: left;
    clear: left;
  }

  div.line div.content {
    position: relative;
    margin-left: 50px;
    white-space: pre;
  }

  a {
    color: #FFFFFF;
  }

  a.scroll-link-top {
    position: relative;
    bottom: 10px;
  }

  a.scroll-link-bottom {
    position: relative;
    z-index: 5;
  }

}
