div#status_chart {
  float: right;
}

div.infoblock {
  margin-bottom: 20px;
  line-height: 2;

  pre {
    margin-top: 5px;
  }

  div.host_counter {
    float: left;
    min-width: 100px;
    text-align: center;

    .count {
      font-size: 20px;
    }
  }
}
