.job-invocation-detail-flex {
  $chart_size: 105px;
  padding-top: 0px;
  padding-left: 10px;
  display: flex;
  align-items: center;

  .chart-donut {
    height: $chart_size;
    width: $chart_size;
    margin-bottom: 10px;

    svg {
      position: relative;
      overflow: visible;
      z-index: 999;
    }

    path {
      cursor: pointer;
    }
  }

  .chart-legend {
    height: $chart_size;
    min-width: 270px;

    .legend-title {
      font-weight: bold;
      font-size: var(--pf-v5-global--FontSize--sm);
      margin-left: 8px;
      margin-bottom: 0;
    }

    .pf-v5-c-description-list {
      margin-left: 8px;
      margin-top: 8px;

      .pf-v5-c-description-list__term .pf-v5-c-description-list__text {
        font-weight: normal;
      }
    }

    text, path {
      cursor: pointer;
    }
  }

  .pf-v5-c-divider {
    max-height: $chart_size;
  }
}

.job-invocation-detail-flex .job-overview-description-list {
  margin: 0;
}

section.job-additional-info {
  padding: 0;
  margin-bottom: -10px;
}

.job-details-table-section {
  section:nth-child(1) {
    padding: 0;
  }

  .pf-v5-c-toolbar__group.pf-m-button-group {
    display: flex;
    align-items: center;
  }

  .open-all-button {
    margin-left: 10px;
    margin-right: 15px;
  }
  
  .pf-v5-c-table__tbody > tr.row-hidden {
    display: none;
  }
}

.template-invocation {
  &.output-in-table-view {
    div.invocation-output {
      overflow: auto;
      max-height: 25em;
    }
  }
  div.invocation-output {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 12px;
    word-break: break-all;
    word-wrap: break-word;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(47, 47, 47, 1);
    border: 1px solid #000000;
    border-radius: 0px;
    font-family: Menlo, Monaco, Consolas, monospace;

    div.printable {
      min-height: 50px;
    }

    div.line.stderr,
    div.line.error,
    div.line.debug {
      color: red;
    }

    div.line span.counter {
      float: left;
      clear: left;
    }

    div.line div.content {
      position: relative;
      margin-left: 50px;
      white-space: pre-wrap;
    }

    a {
      color: #ffffff;
    }

    a.scroll-link{
      position: relative;
      bottom: 10px;
      float: right;
    }
  }

  .template-invocation-preview {
    margin-top: 10px;
  }

  .pf-v5-c-toggle-group {
    margin-bottom: 10px;
  }
}

.open-all-modal .pf-v5-c-modal-box__title-text {
    white-space: normal;
    text-overflow: unset;
    word-break: break-word;
}
